:root {
  /* Shrink regular text by a bit since it feels too big. */
  --text-size: 16px;
}

main {
  /* --main-width: 800px; */
  --main-width: 74ch;
}

.profile img {
  margin: 20px;
}

/* Better links and include branding colour :wink: */
.post-header, .post-content, .post-footer > .paginav, h2 {
  --secondary: hsl(340, 100%, 37%);
}
/* The theme defaults to light mode, so that's why this comes after */
.dark :where(.post-header, .post-content, .post-footer > .paginav, h2) {
  --secondary: hsl(354, 100%, 73%) !important;
}

/* box-shadow behaves weirdly in some situations, so let's use the more appropriate
 * text-underline-offset property to achieve the same look. */
.post-content a, .post-content a > code {
  color: color-mix(in srgb, var(--secondary) 35%, var(--content));
  box-shadow: none;
  text-decoration: underline;
}

a:hover {
  color: var(--secondary);
  transition-duration: 70ms;
}

:is(.post-header, .post-content, .post-footer) a:active {
  filter: brightness(75%);
  transition-duration: 70ms;
}

.post-content blockquote {
  background-color: color-mix(in srgb,var(--secondary), var(--theme) 96%);
  max-width: fit-content;
  border-inline-start: 3px solid color-mix(in srgb,var(--secondary), var(--theme) 40%);
  font-weight: 300;
}
.post-content blockquote strong {
  font-weight: bold;
}

/* Spacing for definition lists (thank you @pradyunsg) */
.post-content > dl {
  margin: 1.5rem 0;
}

.post-content dd {
  font-weight: 300;
}

/* For the /about/ page in particular the projects list (thank you @pradyunsg) */
.post-content dt ~ dt,
.post-content dd ~ dd {
  margin-top: 1.5rem;
}
.post-content dt em {
  display: block;
  text-align: left;

  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;

  color: var(--secondary);
}
.post-content dt em:nth-child(2) {
  font-weight: 500;
}
.post-content dd {
  font-size: var(--text-size);
}

/* Make navigation look nicer (thanks @pradyunsg) */
.paginav {
  background: var(--theme);
  border: none;
  display: flex;
  align-items: center;
}
.paginav a {
  line-height: normal;
  padding: var(--gap);
}

/* 404 page */
.page-not-found {
  text-align: center;
}

/* Show link styling for section description */
.post-description > a {
  box-shadow: 0 1px;
}

/* Try to fix inconsistent margin between code blocks and paragraphs */
.post-content .highlight + :where(ol, p, figure, ul) {
    margin-top: var(--content-gap)
}

/* Try to fix inconsistent margin surrounding the TOC */
.toc {
  margin: calc(var(--content-gap) * 1.5) 2px;
}

/* Enforce a customized text size */
.post-content p, .post-content li, .post-single .post-description, .post-content table {
  font-size: var(--text-size);
}
/* Add more horizontal spacing between cells */
table :where(th, td) {
  padding: 6px 8px !important;
}

/* Highlight h2 uniquely */
.post-content h2 {
  border-bottom: 3px solid var(--tertiary);
  width: fit-content;
  padding: 8px 6px;
  padding-left: 0;
  margin-left: 0;
  font-size: calc(var(--text-size) * 1.9);
}

.post-content h2::before{
  content:">";
  color: var(--secondary);
  display: inline-block;
  position: absolute;
  left: -10px;
}

article.post-entry:has(a:hover) {
  transform: scale(0.95);
}

/* This should at least match if not be bigger than regular text. */
.post-content h4 {
  font-size: calc(var(--text-size) + 2px);
}

/* Images should be centered horizontally instead of being left-aligned. */
.post-content img {
  margin: 1rem auto;
}

/* Footnotes can and should be smaller than regular text. */
.footnotes p {
  font-size: calc(var(--text-size) - 1px);
}

/* $ prompt for command code blocks. */
.command code > span:first-child::before {
  content: "$ ";
  color: grey;
}

/* Try to fix poorly positioned codeblock line numbers */
.post-content .highlight table td:first-child code {
  width: fit-content;
  padding-right: 0 !important;
}
.post-content .highlight table td:nth-child(2) code {
  padding-left: 0 !important;
}

/* Remove backgrounds that prevent rounded corners */
.post-content .highlight :where(:has(code), .div) {
  background: none !important;
}

.post-date {
  font-weight: bold;
}

/* Hide last modified in post lists */
.post-entry .last-modified {
  display: none;
}
.post-entry .last-modified + .delimiter {
  display: none;
}

.post-content .footnotes li {
  margin-top: 12px;
}

.post-content a.footnote-ref::before {
  content: "["
}
.post-content a.footnote-ref::after {
  content: "]"
}

.post-content :not(.highlight > pre) > code {
  white-space: nowrap;
  padding: 3px 5px;
}

.post-content summary {
  color: var(--secondary);
  margin: 1rem 0;
}

/* More compact admonitions */
.post-content .admonition-header {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.1rem 0.8rem;
}
.post-content .admonition-content p {
  font-size: calc(var(--text-size) - 1.5px);
}
.post-content .admonition-content {
  padding: 0.5rem 0.8rem;
}
/* Style adminition to match blog style */
body.dark .post-content .admonition {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4)
}
.admonition:not(.warning) {
  border-left-color: var(--secondary) !important;
}
.admonition:not(.warning) .admonition-header {
  color: var(--secondary) !important;
  background-color: color-mix(in srgb, var(--secondary), transparent 92%) !important;
}
.post-content .admonition-header svg {
  height: 1rem;
}
body .admonition-content {
  background: white !important;
  color: var(--content) !important;
}
body.dark .admonition-content {
  background: #1D1E20 !important;
}
.post-content .admonition-content code {
  background: var(--code-bg) !important;
  color: var(--content) !important;
  font-size: 0.78em;  /* taken from papermod to override adminition's bad value */
}
