main {
  --main-width: 760px;
}

/* Better links and include branding colour :wink: */
.post-header, .post-content, .post-footer {
  --secondary: #bf0041;
}
/* The theme defaults to light mode, so that's why this comes after */
.dark :where(.post-header, .post-content, .post-footer) {
  --secondary: orange;
}

a:hover {
  color: var(--secondary);
  transition-duration: 70ms;
}

:is(.post-header, .post-content, .post-footer) a:active {
  filter: brightness(75%);
  transition-duration: 70ms;
}

/* Slightly improve <code> link styling */
.post-content a > code {
  text-decoration: underline var(--primary);
  box-shadow: none;
}

.post-content a:hover > code {
  text-decoration: underline var(--secondary);
}

/* Spacing for definition lists (thank you @pradyunsg) */
.post-content dl {
  margin-top: 1.5rem;
}

.post-content > dl {
  margin-bottom: 1.5rem;
}

.post-content dd p {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

/* For the /about/ page in particular the projects list (thank you @pradyunsg) */
.post-content dt ~ dt,
.post-content dd ~ dd {
  margin-top: 1.5rem;
}
.post-content dt em {
  display: block;
  text-align: left;

  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;

  color: var(--secondary);
}

/* Make navigation look nicer (thanks @pradyunsg) */
.paginav {
  background: var(--theme);
  border: none;
  display: flex;
  align-items: center;
}
.paginav a {
  line-height: normal;
  padding: var(--gap);
}

/* 404 page */
.page-not-found {
  text-align: center;
}

/* Show link styling for section description */
.post-description > a {
  box-shadow: 0 1px;
}

/* Try to fix inconsistent margin between code blocks and paragraphs */
.post-content div.highlight + p {
  margin-top: var(--content-gap);
}

/* Try to fix inconsistent margin surrounding the TOC */
.toc {
  margin: calc(var(--content-gap) * 1.5) 2px;
}

/* The border is coloured weirdly anyway, just get rid of it */
.post-content hr {
  border-width: 0px;
}

/* This might be a hack, but this allows me to improve the footer contents without
   having to copy the whole footer.html template.
*/
body > footer > span:nth-child(2)::before {
  content: "·";
}
body > footer > span:nth-child(2)::after {
  content: "with many tweaks";
}

/* This should at least match if not be bigger than regular text. */
.post-content h4 {
  font-size: 20px;
}

/* Post descriptions should visually differ from the post text. */
.post-single > * > .post-description {
  font-size: 16px;
}

/* Footnotes can and should be smaller than regular text. */
.footnotes p {
  font-size: 16px;
}
