/* Spacing for definition lists */
.post-content dl {
  margin-top: 1.5rem;
}

.post-content > dl {
  margin-bottom: 1.5rem;
}

.post-content dd p {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

/* For the /about/ page */
.post-content dt ~ dt,
.post-content dd ~ dd {
  margin-top: 1.5rem;
}
.post-content dt em {
  display: block;
  text-align: left;

  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;

  color: var(--secondary);
}

/* 404 page */
.page-not-found {
  text-align: center;
}
