<!DOCTYPE html>
<html lang="{{ .Site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">

<head>
    <!-- this is the only modification / addition to this template-->
    <meta http-equiv="Content-Security-Policy", content="default-src 'none'; script-src 'self' 'unsafe-inline' microanalytics.io; style-src 'self' 'unsafe-inline'; img-src 'self'; connect-src 'self' microanalytics.io; base-uri 'none'; form-action 'none'; block-all-mixed-content">
    <!-- end modification-->
    {{- partial "head.html" . }}
</head>

<body class="
{{- if (or (ne .Kind `page` ) (eq .Layout `archives`) (eq .Layout `search`)) -}}
{{- print "list" -}}
{{- end -}}
{{- if eq $.Site.Params.defaultTheme `dark` -}}
{{- print " dark" }}
{{- end -}}
" id="top">
    {{- partialCached "header.html" . .Page -}}
    <main class="main">
        {{- block "main" . }}{{ end }}
    </main>
    {{ partialCached "footer.html" . .Layout .Kind (.Param "hideFooter") (.Param "ShowCodeCopyButtons") -}}
</body>

</html>
